/* Hover effect for the "List NFT" button */
#list-button {
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#list-button:hover {
    background-color: #ecd60d;
    color: black; /* Optional: change text color on hover */
}

/* Styling for file upload */
.custom-file-upload {
    display: flex;
    align-items: center;
    gap: 10px;
}

.file-input {
    position: relative;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    width: 100%;
}

.file-selected-text {
    color: gray;
    font-size: 14px;
}

.custom-file-upload::before {
    content: "Choose File";
    display: inline-block;
    background-color: black;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover::before {
    background-color: #ecd60d;
    color: black;
}
