@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  top: 0;
  /* background-image: url('./bg.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; */
  background-color: black;
  padding-top: 80px; /* Account for the fixed navbar height */

  animation: gradientTransform 3s linear infinite;
}

* {
  box-sizing: border-box;
  top: 0;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

li {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
ul, li, div {
  margin: 0;
  padding: 0;
}
div, ul, li {
  z-index: auto; /* Ensure no unexpected z-index is interfering */
}